* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem;
  align-items: center; /* Ensures that icons and text are vertically centered */
  background-color: #e8eeecd3; /* Optional background color for better visibility */
}

.left-navbar,
.right-navbar {
  display: flex;
  align-items: center;
}
.left-margin {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically (optional if needed) */
}
.left-navbar i,
.right-navbar i {
  margin-right: 8px; /* Space between icons and text */
}

.right-navbar a {
  margin-left: 6px; /* Space between social media icons */
}

.first-icon {
  color: #ab7442; /* Example of coloring the icons */
  padding: 6px;
  text-align: center;
}
.social {
  background-color: white;
}
/* navbar */

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding-left: 3rem;
  position: sticky;
  z-index: 11;
  top: 0px;
  width: 100%;
  box-shadow: 5px 5px 5px rgb(133, 131, 131);
  transition: top 0.3s ease; /* Smooth transition for hiding/showing */
}
.nav-fix {
  position: fixed;
  top: 0%;
}
.nav-hide {
  /* position: sticky; */
  visibility: hidden;

  /* top: 0%; */
}
.hero.hidden {
  top: -100px; /* Hide the navbar by moving it off-screen */
}

/* Animation when the navbar appears */
@keyframes navbar-fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero.visible {
  animation: navbar-fade-in 1.5s ease forwards;
}

.left-hero {
  color: #ab7442;
  font-size: 1.5rem;
}
.right-hero a,
select {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
.right-hero > select {
  border: none;
  font-size: 1rem;
  padding: 1px;
}
.right-hero {
  margin-left: 25rem;
}
.quote {
  background-color: #ab7442;
  padding: 30px;
  color: black;
  text-decoration: none;
}
.quote i {
  margin-left: 6px;
}

/* -------------- dropdown --------------*/

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover {
  transform: scale(1.05); /* Slightly enlarge the dropdown */
  transform: translateY(1.5);
  transition: all 0.5s ease; /* Transition duration and easing effect */
}

/*  ---dropdown end------ */

/* slider section start */

.slider {
  color: rgb(15, 15, 15);
  text-align: center;
  position: relative;
}
.slider-content {
  position: absolute;
  top: 8%;
  z-index: 1;
  color: white;
  padding: 38px 28px 25px;
  font-family: "Roboto", sans-serif;
  width: 60%;
  margin-left: 18%;
  font-weight: 800;
}
.slider-content > h1 {
  font-size: 62px;
  line-height: 82%;
  font-weight: 900;
  margin: 32px;
}
.slider-content > h3 {
  animation-name: navbar-sticky;
  animation-duration: 0.8s;
  animation-timing-function: ease;
}
.slider-content > h1 {
  animation-name: hero-heading;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}
/* navbar animation */
@keyframes navbar-sticky {
  from {
    transform: translateY(-40%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes hero-heading {
  from {
    transform: translateY(-70%);
  }
  to {
    transform: translateY(0%);
  }
}
.slider-btn {
  padding: 15px;
  border: none;
  margin: 22px;
}
.left-button {
  background-color: #ab7442;
  animation-name: hero-button-left;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  /* animation-timeline: view(); */
}
.right-button {
  background-color: #fffcfa;
  animation-name: hero-button-right;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}

/* buttons animation */

@keyframes hero-button-right {
  from {
    transform: translateX(40%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes hero-button-left {
  from {
    transform: translateX(-40%);
  }
  to {
    transform: translateX(0%);
  }
}

/* slider styling */

.mySlides {
  display: none;
  transition: 1s;
}
.mySlides > img {
  /* vertical-align: middle; */
  height: 642px;
  transition: 1s;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 100vh;
  /* overflow: hidden; */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
  z-index: 0;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 1%;
  padding: 14px;
  margin-bottom: 6px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border: 2px solid;
}
.prev {
  left: 37%;
}
/* Position the "next button" to the right */
.next {
  right: 40%;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* slider styling end*/

/* services */
.services {
  display: flex;
  justify-content: space-between;
  padding: 20px 13%;
  margin: 7% 0%;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 12px;
}
.logo-container > i {
  color: #ab7442;
  background-color: #dfdede;
}
.logo-container > h1 {
  color: black;
}
.custom-icon {
  padding: 12px;
  font-size: 36px;
}
.logo-container > span {
  color: #dfdede;
  font-size: 46px;
  font-weight: 900;
  letter-spacing: 6px;
}
/*---------------- About Section------------------- */
.f-row {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
}

.icon-no {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uper-content {
  flex-basis: 230px;
}

.about-ic {
  background: var(--light);
  padding: 5px;
  font-size: 45px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-content-1 {
  display: flex;
  align-items: center;
}

.digit {
  color: var(--light);
}

.about-final {
  display: flex;
}

.about-left {
  background-image: url(./assests/about.jpg);
  background-size: cover;
  width: 50%;
  height: 536px;
  padding: 41px 29px;
}

.about-right {
  background-color: rgb(236, 234, 234);
  width: 50%;
  height: 536px;
  padding: 82px 43px;
}

.about-right p {
  padding: 10px;
}

.about-digit {
  margin: 20px;
}

.digit {
  color: var(--primary);
  letter-spacing: 1px;
}
.right-btn {
  color: rgb(252, 247, 247);
  background-color: #ab7442;
}

.right-btn:hover {
  color: rgb(12, 12, 12);
  background-color: lightgray;
}
.btn {
  padding: 25px;
  margin: 10px 10px 70px 10px;
  border: none;
  border-radius: 0px;
  width: 160px;
  font-weight: bold;
}
/* serivices 2 card */
.services-2 {
  padding: 92px;
}
.services-2 > h1 {
  padding: 32px;
  margin: 32px;
  text-align: center;
}
.services-2-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  gap: 3rem;
  /* position: absolute; */
}
.services-2-card {
  position: relative;
  width: 22rem;
  /* border: 2px solid red; */
  text-align: center;
  box-shadow: 10px 10px 5px #aaaaaa;
  overflow: hidden;
  animation-name: image-scaling;
  /* animation-timeline: view(); */
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
.services-2-content {
  padding: 16px;
}
.services-2-content > a {
  margin: 18px;
  color: #ab7442;
  text-decoration: none;
}
.services-2-img {
  background-image: url("./assests/portfolio-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; /* or specific width like 300px */
  height: 200px; /* or any appropriate height */
  transition: width 0.3s;
}
.services-2-card:hover .services-2-img {
  width: 110%;
}

/* animation for service cards when load  */

@keyframes image-scaling {
  from {
    transform: translateY(30%);
    opacity: 0;
    scale: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
    scale: 1;
  }
}
/* Animation delay for each card */
.card-1 {
  animation-delay: 0s; /* No delay */
}

.card-2 {
  animation-delay: 0.3s; /* Delayed by 0.3 seconds */
}

.card-3 {
  animation-delay: 0.6s; /* Delayed by 0.6 seconds */
}

/* project section  */
.project-2 {
  text-align: center;
  margin: 32px;
}
.project-2-container {
  /* border: 2px solid red; */
  padding: 79px;
  display: flex;
  flex-wrap: wrap;
  /* gap: 6px; */
  justify-content: space-between;
}
.project-2-card {
  width: 22rem;
  /* border: 2px solid yellow; */
  margin: 6px;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin-bottom: 12px;
}
.project-2-img {
  background-image: url("./assests/portfolio-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; /* or specific width like 300px */
  height: 200px; /* or any appropriate height */
  transition: width 0.3s;
}

.project-2-card:hover .project-2-img {
  width: 110%;
}
.project-2-card:hover .icon1 {
  display: block;
  animation-name: icon-up;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; /* Retain the final position */
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-2-card:hover .icon2 {
  display: block;
  animation-name: icon-up2;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; /* Retain the final position */
  left: 51%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
}
.icon1 {
  position: absolute;
  transform: translateY(175px);
  background-color: rgb(71, 67, 67);
  opacity: 0.7;
  width: 1%;
  height: 1%;
  color: rgb(250, 250, 250);
  border: 2px solid white;
  padding: 22px;
  margin: 12px;
  /* display: none; */
  visibility: hidden;
  text-align: center;
  left: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon2 {
  position: absolute;
  transform: translateY(175px);
  /* transform: translateX(175px); */
  background-color: rgb(71, 67, 67);
  opacity: 0.7;
  width: 1%;
  height: 1%;
  color: rgb(250, 250, 250);
  border: 2px solid white;
  padding: 22px;
  margin: 12px;
  display: none;
  text-align: center;
  left: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

/* animation for icon on project bar*/

@keyframes icon-up {
  from {
    transform: translateY(175px) scale(0.1, 0.1);
  }
  to {
    transform: translateY(60px) scale(1, 1);
  }
}
@keyframes icon-up2 {
  from {
    transform: translateY(175px) scale(0.1, 0.1);
  }
  to {
    transform: translateY(60px) scale(1, 1);
  }
}

.projects-content {
  text-align: left;
  align-items: flex-start;
}
.project-2-img {
  position: relative; /* Position relative to contain the overlay */
  background-image: url("./assests/portfolio-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; /* Full width */
  height: 200px; /* Appropriate height */
  transition: width 0.3s; /* Transition for width */
}

/*--------------- Overlay style ------------------*/

.project-2-img::before {
  content: ""; /* Required for the pseudo-element */
  position: absolute; /* Position it over the image */
  top: 0; /* Cover the top */
  left: 0; /* Cover the left */
  right: 0; /* Cover the right */
  bottom: 0; /* Cover the bottom */
  background-color: rgba(
    71,
    67,
    67,
    0.7
  ); /* Semi-transparent background color */
  opacity: 0; /* Start as invisible */
  transform: translateY(175px); /* Start position for animation */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for opacity and transform */
  z-index: 1; /* Ensure it's above the image */
}

/* Show overlay on hover */
.project-2-card:hover .project-2-img::before {
  opacity: 1; /* Fully visible on hover */
  transform: translateY(0); /* Move to original position on hover */
}

/* Adjust the icon styles if necessary */
.icon1,
.icon2 {
  z-index: 2; /* Ensure icons are above the overlay */
}

/* about form input */
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.foot-input {
  padding: 17px;
  position: relative;
}
.form-input {
  border: none;
}
.select-fo {
  background: white;
  width: 206px;
}
.large-item {
  padding: 25px;
}

/* team member section */

.team-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 79px;
  text-align: center;
  gap: 18px;
  /* position: relative; */
}
.team-card {
  width: 73rem;
  box-shadow: 5px 5px 5px rgb(133, 131, 131);
  overflow: hidden;
  position: relative;
}
.team-card:hover .team-img {
  width: 120%;
}
.team-img {
  position: relative; /* Position relative to contain the overlay */
  /* background-image: url("./assests/team-1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; /* Full width */
  height: 300px; /* Appropriate height */
  transition: width 0.3s; /* Transition for width */
}
.team-social a,
ul {
  /* display: none; */
  visibility: hidden;
  background-color: white;
  color: #ab7442;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.5s; /* Transition for width */
}
.team-card:hover .team-social a,
ul {
  visibility: visible;
  display: block;
  background-color: #ab7442;
  color: white;
  opacity: 1;
}
.team-social-icon {
  position: absolute;
  z-index: 1;
  padding: 12px;
  display: flex;
}
.team-img1 {
  background-image: url("./assests/team-1.jpg");
}
.team-img2 {
  background-image: url("./assests/team-2.jpg");
}
.team-img3 {
  background-image: url("./assests/team-3.jpg");
}
.team-img4 {
  background-image: url("./assests/team-4.jpg");
}
.social1 {
  top: 32%;
  width: 38px;
}

.social3 {
  top: 21%;
}
.social4 {
  top: 10%;
}

/* -------footer-------- */

/* --------------------footer------- */
.footer {
  padding: 30px;
  background-color: #2c2a2a;
  color: white;
}

.footer-content {
  padding: 50px 30px;
  display: flex;
  justify-content: space-between;
}

.address {
  /* flex-basis: 390px; */
  display: flex;
  flex-direction: column;
}

.address-1,
.address-2,
.address-3,
.address-4 {
  padding: 5px;
}

.for-icon {
  margin: 12px;
}

.foot-icon {
  padding: 10px;
  margin: 4px;
  border: 2px solid white;

  color: white;
}

.foot-input {
  padding: 17px;
  position: relative;
}

.foot-btn {
  padding: 12px;
  position: absolute;
  top: 97px;
  right: 86px;
  border: #ab7442;
}

.last {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.last a {
  list-style-type: none;
  color: white;
}
.fa-angle-right {
  font-size: 12px;
  margin-right: 6px;
}
.address-icons {
  font-size: 15px;
  margin-right: 15px;
}
.footer-content h2 {
  margin-bottom: 25px;
}
